
@model ASPNET_Core_2_1.Models.QuestionDetailandAnswer
@{
    ViewData["Title"] = "QuestionDetail";
}

<html lang="en">


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/lumen/bootstrap.min.css" crossorigin="anonymous">

    <title>Question</title>
</head>
<body>

    <main role="main" class="container">



        <div class="jumbotron">
            <h1>@Model.QuestionDetail.Title</h1>
            <p class="lead">
                @Model.QuestionDetail.Content
            </p>
            <a class="btn btn-lg btn-success" asp-action="UpVote" asp-route-id=@Model.QuestionDetail.QuestionId role="button"> ^ @Model.QuestionDetail.UpvoteCount</a>
            <a class="btn btn-lg btn-danger" asp-action="DownVote" asp-route-id=@Model.QuestionDetail.QuestionId role="button"> v @Model.QuestionDetail.DownvoteCount</a>
        </div>



        <form class="m-t" role="form" asp-action="CreateAnswer" asp-route-id=@Model.QuestionDetail.QuestionId>
            <div class="form-group">
                <input asp-for="Answer" type="text" class="form-control" placeholder="Your Answer" required="">
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b">Add Answer</button>

        </form>

        @if (Model.QuestionDetail.Answers.Count == 0)
        {
            <div class="jumbotron">
                <h1>No Answers Yet</h1>
                <p class="lead">
                    Be the first one to answer
                </p>

            </div>
        }

        @if (Model.QuestionDetail.isAnswered)
        {
            <div class="jumbotron bg-success">
                <h1>Selected Answer</h1>
                <p class="lead">
                    @Model.QuestionDetail.AcceptedAnswer.Content
                </p>

            </div>
        }



        @foreach (var data in Model.QuestionDetail.Answers)
        {
            <div class="jumbotron">
                <h1>Answer</h1>
                <p class="lead">
                    @data.Content
                </p>
                @if (!Model.QuestionDetail.isAnswered)
                {
                    <a class="btn btn-primary"  asp-action="SelectAnswer" asp-route-qid=@Model.QuestionDetail.QuestionId asp-route-aid=@data.AnswerId role="button">Select as a Answer</a>
                }
            </div>
        }


    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>

